{% extends "baseTemplate.html" %}

{% block title %} DevConnect | Foro {% endblock %}

{% block content %}

<div class="row">

    <!--COLUMNA IZQUIERDA CON PREGUNTAS RECOMENDADAS-->
    <div class="col-2">
    </div>

    <!--COLUMNA CENTRAL CON FILTRO Y PREGUNTAS-->
    <div class="col-8" style="border: 1px solid #c0c0c0; padding: 10px; border-radius: 25px">

        <section style="padding: 20px; display: flex; justify-content: space-between; align-items: center;">

            <h3 style="margin: 0;">Todas las Preguntas</h3>

            <div class="nav-item" style="margin: auto;">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search" size="50px" style="border-radius: 25px">
                    <button class="btn btn-dark my-2 my-sm-0" type="button" style="border-radius: 25px">Buscar</button>
                </form>
            </div>

            <a class="btn btn-secondary active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filtrar Preguntas
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Más Recientes</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Más Votadas</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Sin Resolver</a>
            </div>

        </section>

        {% include "questionTemplate.html"%}

    </div>

    <!--COLUMNA DERECHA CON INFORMACION ADICIONAL-->
    <div class="col-2">
    </div>

</div>

{% endblock %}

{%block additionalScripts%}

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
<script>hljs.highlightAll();</script>
<script src="/appdevconnect/static/js/copyCodeToClipboard.js"></script>
<script src="/appdevconnect/static/js/toggleDisableCodeblock.js"></script>

{%endblock%}