{% extends "baseTemplate.html" %}

{% block title %} DevConnect | Proyectos {% endblock %}

{% block sitelog%} Repositorio {% endblock %}

{%block droppage%}Proyectos{%endblock%}


{% block content %}
    <div class="row">
        {% include 'projectCardTemplate.html'%}
        {% include 'projectCardTemplate.html'%}
        {% include 'projectCardTemplate.html'%}
        {% include 'projectCardTemplate.html'%}
        {% include 'projectCardTemplate.html'%}
        {% include 'projectCardTemplate.html'%}
        {% include 'projectCardTemplate.html'%}
        {% include 'projectCardTemplate.html'%}
        {% include 'projectCardTemplate.html'%}
        {% include 'projectCardTemplate.html'%}
        {% include 'projectCardTemplate.html'%}
        {% include 'projectCardTemplate.html'%}
    </div>
{% endblock %}