<link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
<link rel="stylesheet" href="appdevconnect/static/css/highlights.css">

{% extends "baseTemplate.html" %}

{% block title %} DevConnect | Foro {% endblock %}

{% block content %}

<div class="row">

    <!--COLUMNA IZQUIERDA CON PREGUNTAS RECOMENDADAS-->
    <div class="col-2">
    </div>

    <!--COLUMNA CENTRAL CON FILTRO Y PREGUNTAS-->
    <div class="col-8" style="border: 1px solid #ffffff; padding: 10px; border-radius: 25px; background-color: white ">

        <section style="padding: 20px; display: flex; justify-content: space-between; align-items: center;">

            <h3 style="margin: 0;">Todas las Preguntas</h3>

            <div class="nav-item" style="margin: auto;">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search"
                        size="50px" style="border-radius: 25px">
                    <button class="btn btn-dark my-2 my-sm-0" type="button" style="border-radius: 25px">Buscar</button>
                </form>
            </div>

            <div>
                <a href="{% url 'Pregunta' %}" class="btn btn-warning my-2 my-sm-0" type="button"
                    style="border-radius: 25px; margin-right: 10px">Preguntar</a>
            </div>

            <a class="btn btn-secondary active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-radius: 25px;">
                Filtrar Preguntas
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="border-radius: 25px;">
                <a class="dropdown-item" href="#">Más Recientes</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Más Votadas</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Sin Resolver</a>
            </div>

        </section>

        {% for pregunta in preguntas %}
        <div class="card" style="padding: 0px; margin:10px; border: 1px solid #c0c0c0;">

            <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
                <h5 class="card-title">{{ pregunta.question_title }}</h5>
                {% if user.is_authenticated and user == pregunta.user %}
                <div>
                    <a href="{% url 'editar_pregunta' pregunta.id %}" id="botonEditar"
                        class="bi bi-pencil-square btn btn-outline-dark" style="width: 80px; border-radius: 25px;"></a>
                    <a href="{% url 'borrar_pregunta' pregunta.id %}" id="botonBorrar"
                        class="bi bi-trash-fill btn btn-outline-danger" style="width: 80px; border-radius: 25px;"></a>
                </div>
                {% endif %}
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Publicada por: </strong>{{ pregunta.user.username }} |
                    <strong>Lenguaje: </strong>{{ pregunta.question_language }}
                    | <strong>Tema: </strong> {{ pregunta.question_topic }} | <strong>Fecha de Publicación: </strong> {{ pregunta.question_date }}</li>
            </ul>

            <div class="card-body" id="codeBlock" style="padding-left: 100px">

                <pre class="hljs"><code>
                        
                        {{ pregunta.question_body }}
            
                    </code></pre>
            </div>

        </div>
        {% endfor %}

    </div>

    <!--COLUMNA DERECHA CON INFORMACION ADICIONAL-->
    <div class="col-2">
    </div>

</div>

{% endblock %}

{%block additionalScripts%}

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
<script>hljs.highlightAll();</script>
<script src="/appdevconnect/static/js/copyCodeToClipboard.js"></script>
<script src="/appdevconnect/static/js/toggleDisableCodeblock.js"></script>

{%endblock%}