{% extends "baseTemplate.html" %}

{% block title %} DevConnect | Registro {% endblock %}

{% block sitelog%} Registro {% endblock %}

{% block content %}

<div class="row">
    <div class="col-4">
    </div>

    <div class="col-4" style="border: 1px solid #252525; padding: 10px; border-radius: 15px">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">Username*</label>
                <input type="text" class="form-control" id="{{ form.username.id_for_label }}"
                    name="{{ form.username.name }}" value="{{ form.username.value }}" placeholder="Username" required>
            </div>

            <div class="form-group">
                <label for="{{ form.password.id_for_label }}" style="margin-top: 15px;">Password*</label>
                <input type="password" class="form-control" id="{{ form.password.id_for_label }}"
                    name="{{ form.password.name }}" value="{{ form.password.value }}" placeholder="" required>
            </div>
            <div class="form-group">
                <label for="{{ form.first_name.id_for_label }}" style="margin-top: 15px;">Nombre*</label>
                <input type="text" class="form-control" id="{{ form.first_name.id_for_label }}"
                    name="{{ form.first_name.name }}" value="{{ form.first_name.value }}" placeholder="Nombre" required>
            </div>
            <div class="form-group">
                <label for="{{ form.last_name.id_for_label }}" style="margin-top: 15px;">Apellido*</label>
                <input type="text" class="form-control" id="{{ form.last_name.id_for_label }}"
                    name="{{ form.last_name.name }}" value="{{ form.last_name.value }}" placeholder="Apellido" required>
            </div>
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}" style="margin-top: 15px;">E-Mail</label>
                <input type="email" class="form-control" id="{{ form.email.id_for_label }}" name="{{ form.email.name }}"
                    value="{{ form.email.value }}" placeholder="E-Mail" required>
            </div>
            <button type="submit" class="btn btn-success" style="margin-top: 15px;">Registrarse</button>
        </form>
    </div>
    <div class="col-4">
    </div>
</div>
{% endblock %}