<div class="col-3" style="padding: 40px;">

    <div class="card">
        <img class="card-img-top" src="https://assets.startbootstrap.com/img/screenshots/premium/sb-admin-pro.jpg" 
        alt="Card image cap" style = "padding:5px">
        <div class="card-body">
           <h5 class="card-title"><b>Project Name</b></h5>
            <p class="card-text">Conversor de números binarios a hexadecimal.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item border-light">Username</li>
            <li class="list-group-item border-light">Topic</li>
            <li class="list-group-item border-light">Language</li>
        </ul>
        <div class="card-body text-center">
            <a href="#" class="btn btn-success">Descargar Proyecto</a>
        </div>
    </div>

</div>
